<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/styles.css"> -->
    <link rel="stylesheet" th:href="@{/css/styles.css}"> <!-- You must get it from relative path with Thymeleaf according to CoPilot-->
    <title>StudTrack - Student Tracking App</title>
</head>
<body>
    <div class = "container">
        <header>
            <h1 title = "StudTrack"><a href = "/">StudTrack</a></h1>
        </header>
        <main>
            <p>STUDENT MODIFIED!!!</p>
        </main>
        <footer>
            Copyright &copy; 2024. Created by William Chan.
        </footer>
</body>
</html>