@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Indie+Flower&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* TODO: Optimize url later */

body{
    background-image: url('../img/rodion-kutsaiev-PEm_sLmJT-w-unsplash-compressed.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* CONTAINER CONFIG */

.container{
    max-width: 90%;
    margin: auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;

    /* CSS ANIMATION */
    position: relative;
    top: 30px;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes appear{
    0%{
        top: 30px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.container header h1{
    /* CSS TRANSITION */
    transition-property: all;
    transition-duration: 0.5s;
    text-align: center;
}

.container header h1:hover{
    font-size: 2.1rem;
    cursor: pointer;
}

.container header h1 a{
    text-decoration: none;
    color: black;
}

/* Paragraph Config */
p{
    text-align: justify;
}

/* Checklist Config */
form div{
    font-family: 'Indie Flower';
}

/* MAIN CONFIG */
main{
    font-family: 'Montserrat';
}

/* FOOTER CONFIG */
footer{
    text-align: center;
    padding: 10px;
}

/* NAV */
nav ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: 'Kdam Thmor Pro';
    font-weight: bold;
}

nav ul a{
    color: black;
    text-decoration: none;
}

nav ul a li{
    border: 1px solid black;
    background-color: rgb(216, 216, 216);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Font Control*/
.container header, footer{
    font-family: 'Concert One', cursive;
}

/* Thymeleaf Show All Students Control */
#listStudents table{
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    width: 100%;
}

#listStudents table tr th, #listStudents table tr td{
    border: 1px solid black;
    padding: 20px;
}

#listStudents table tr td{
    text-align: center;
}

/* Add Student Config */
#addStudent, #removeStudent, #editStudent, #searchEditStudent, #listStudents, .studentChoose, input[value = "Go Back"]{
    text-align: center;
}

#addStudent div, #removeStudent div, #editStudent div, .studentChoose div, input[value = "Go Back"], #searchEditStudent div{
    margin-top: 20px;
}

#addStudent div input, #removeStudent div input, #editStudent div input, #searchEditStudent div input, .studentChoose div input, input[value = "Go Back"]{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: 'Kdam Thmor Pro';
}

#addStudent div input[value = "Add Student"], #removeStudent div input[value = "Remove Student"], #editStudent div input[value = "Edit Student"], #searchEditStudent div input[value = "Get Student"], .studentChoose div input[value = "Add Student"], .studentChoose div input[value = "Remove Student"], .studentChoose div input[value = "Edit Student"], .studentChoose div input[value = "View Students"], input[value = "Go Back"]{
    font-weight: bold;
    background-color: #11DA8E;
    border-radius: 30px;

    /* TRANSITION */
    transition-property: all;
    transition-duration: 0.3s;
}

#removeStudent div input[value = "Remove Student"], .studentChoose div input[value = "Remove Student"]{
    background-color: rgb(189, 0, 0);
    color: white;
}

#editStudent div input[value = "Edit Student"], .studentChoose div input[value = "Edit Student"]{
    background-color: #FFD700;
    color: black;
}

#searchEditStudent div input[value = "Get Student"]{
    background-color: rgb(255, 60, 0);
    color: black;
}

.studentChoose div input[value = "View Students"], input[value = "Go Back"]{
    background-color: #00a2ff;
    color: black;
}

#addStudent div input[value = "Add Student"]:hover, #removeStudent div input[value = "Remove Student"]:hover, #editStudent div input[value = "Edit Student"]:hover, .studentChoose div input[value = "Add Student"]:hover, .studentChoose div input[value = "Remove Student"]:hover, .studentChoose div input[value = "Edit Student"]:hover, .studentChoose div input[value = "View Students"]:hover, input[value = "Go Back"]:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#addStudent div input[value = "Add Student"]:active, #removeStudent div input[value = "Remove Student"]:active, #editStudent div input[value = "Edit Student"]:active, .studentChoose div input[value = "Add Student"]:active, .studentChoose div input[value = "Remove Student"]:active, .studentChoose div input[value = "Edit Student"]:active, .studentChoose div input[value = "View Students"]:active, input[value = "Go Back"]:active{
    transform: scale(0.9, 0.9);
}

/* Add new attributes h2 */
#editStudent h2{
    text-align: left;
}

/* New label fonts */
#editStudent label{
    font-family: 'Kdam Thmor Pro';
}

/* Create rectangle */
.rect{
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    background-color: rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rect p{
    text-align: center;
    margin: 0;
}

.student-info{
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .container{
        max-width: 65%;
        transform: translateY(10%);
    }

    body{
        padding-bottom: 200px;
    }

    /* CSS GRIDS */
    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* NAV */
    nav ul{
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    /* NAV LI anchors */
    nav ul a{
        border-radius: 10px;
        border: 1px solid black;
        background-color: rgb(216, 216, 216);
        /* TRANSITION */
        transition-property: all;
        transition-duration: 0.5s;
    }

    nav ul a:hover{
        background-color: rgb(129, 129, 129);
    }

    nav ul a li{
        padding: 15px;
        border: none;
        background-color: transparent;
        margin-top: 0px;
    }

    /* Header h1 */
    header h1{
        grid-column: 1;
    }

    .container header h1{
        text-align: left;
    }
}